body {
    margin: 0%;
}

.container {
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

img {
    height: 200px;
    width: 200px;
}

/* header */
.links{
    
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}


.header {
    display: flex;
    justify-content: space-around;
    color: #F9FAF8;
    font-size: 24px;
    background-color: #1F2937;;
}

li {
    display: inline;
}

/* header */

/* Main text */

.main {
    padding-bottom: 50px;
    display: flex; 
    color: white;
    font-size: 28px;
    padding: 50px;
    justify-content: space-evenly;
    background-color: #1F2937;;
}

.mheader {
    width: 500px;
    font-weight: bold;
    
}



.sub {
    font-size: 18px;
    color: #E5E7EB;
    width: 450px;
    height: 60px;
    
}
button {
    height: 25px;
    width: 70px;
    background-color: #3882f6;
    color: white;
    font-weight: bolder;
    padding: 0;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
#kitty {
    
    width: 400px;
    height: 300px;
    
}






/* Main text */

/* random info - quote */

.random {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 25px;
    font-size: 25px;
    color: #1F2937;
    font-weight: bold;
}

.info {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 30px;
    padding-bottom: 120px;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 52px   ;
    text-align: center;
}

.cajas {
    border: solid 4px rgb(0, 238, 255);
    border-radius: 15px;
}

/* quote */

.quote {
    display: flex;
    flex-wrap: wrap;
    background-color:   #E5E7EB;
    
    
}

.quotes {
    display: flex;
    justify-content: center;
    padding-right: 25%;
    padding-left: 25%;
    padding-top: 5%;
    font-size: 35px;
    font-style: italic;
    color: #1F2937;
}

.squote {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 5%;
    padding-left: 60%;
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;

}
/* quote */

/* random info - quote */

/* footer */

.footer {
    display: flex;
    background-color: white;
    justify-content: center; 
    color: white;
}

.contaier {
    background-color: #3882f6;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 7px;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 2%;
    width: 1200px;
}


.fcontainer {
    display: flex;
    justify-content: space-between;
}

#fbutton {
    border: solid 1px white;
}

.SU {
    display: flex;
    justify-content: space-between;
}

.ufooter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #1F2937;
    height: 55px;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
}

/* footer */
